<html>
  
  <head>
	<title>基本</title>
  </head>

  <body>
	<h1>基本</h1>

	<p>/モジュール名/Runモードで</p>
	
	<p><a href="/src/dispatch/basic/app.cgi/search/">/src/dispatch/basic/app.cgi/search/</a></p>
	
  </body>
  
</html>
