<html>
  
  <head>
	<title>Šî–{</title>
  </head>
  
  <body>
	
	<h1>Šî–{</h1>

	<p>PATH_INFO‚É</p>
	
	<p><a href="/src/dispatch/basic/app.cgi/index/edit">/src/dispatch/basic/app.cgi/index/edit</a></p>
	
  </body>
  
</html>
