<html>
  
  <head>
	<title>MultiViews</title>
  </head>
  
  <body>
	<h1>MultiViews</h1>

	<p>PATH_INFOÇ∆çáÇÌÇ≥ÇÈÇ±Ç∆Ç≈</p>
	  
	<p><a href="../../app/fuga/fuga">../../app/fuga/fuga</a></p>
	
  </body>
  
</html>
