<html>
  
  <head>
	<title>基本</title>
  </head>
  
  <body>
	
	<h1>基本</h1>
	
	<p>アクセスできます。</p>
	
	<p><a href="/src/dispatch/basic/app.cgi/search/config">/src/dispatch/basic/app.cgi/search/config</a></p>
	
  </body>
  
</html>
