<html>
  
  <head>
	<title>CGI_DISPATCH_TABLE</title>
  </head>

  <body>
	<h1>CGI_DISPATCH_TABLE</h1>

	<p>Ç±Ç±ÇÕ /app.cgi/index/edit </p>

	<p>é¿çsÇ≥ÇÍÇΩÇÃÇÕMyApp::Index</p>
	
	<p><a href="../../app.cgi/fuga/">../../app.cgi/fuga/</a></p>
	
  </body>
  
</html>
