<html>
  
  <head>
	<title>CGI_DISPATCH_TABLE</title>
  </head>
  
  <body>
	<h1>CGI_DISPATCH_TABLE</h1>

	<p>CGI_DISPATCH_TABLEを使うと、名前空間の階層が深いモジュールもDispatch先のクラスに指定できる。</p>
	
	<p><a href="../../app.cgi/index/edit">../../app.cgi/index/edit</a></p>
	
  </body>
  
</html>
