<html>
  
  <head>
	<title>MultiViews</title>
  </head>
  
  <body>
	<h1>MultiViews</h1>

	<p>ê›íËÇÕÇ±ÇÍ</p>

	<pre><code>
	  AddHandler cgi-script .cgi
	  Options +MultiViews
	  MultiviewsMatch Handlers
	</code></pre>
	
	<p><a href="../../app/fuga/">../../app/fuga/</a></p>
	
  </body>
  
</html>
