<html>
  
  <head>
	<title>MultiViews</title>
  </head>
  
  <body>
	<h1>MultiViews</h1>

	<p>ApacheのMultiViewsオプションで拡張子なしURIでアクセス</p>
	
	<p><a href="../../app/index/edit">../../app/index/edit</a></p>
	
  </body>
  
</html>
