<html>
  
  <head>
	<title>CGI_DISPATCH_TABLE</title>
  </head>
  
  <body>
	<h1>CGI_DISPATCH_TABLE</h1>

	<p>ここは /app.cgi/fuga/hoge</p>

	<p>実行されたのは MyApp::Hoge::Fuga</p>

	<p>runモードfugaで実行。</p>
	  
	<p><a href="../../../">先頭</a></p>
	
  </body>
  
</html>
